* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main {
  flex: 1;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
}

header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  text-align: center;
  background-color: white;
  font-family: "Work Sans", sans-serif;
}
header a {
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  color: #003366;
  font-size: 180%;
}

header #imagem_header {
  position: absolute;
  left: 2rem;
}

header #imagem_header img {
  width: 60%;
}

header nav {
  display: flex;
  gap: 30px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: #003366;
  justify-content: space-between;
}

footer nav {
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.texto-footer {
  font-size: 20px;
  color: white;
}

@media (max-width: 882px) {
  header {
    flex-direction: column;
  }
  header #imagem_header {
    position: static;
  }
  footer {
    flex-direction: column;
  }

  #imagem-princial {
    width: 96%;
  }

  iframe {
    width: 595px;
    height: 235px;
  }
  .info {
    width: 5%;
  }
  .texts {
    font-size: 15px;
  }
  section {
    gap: 2rem;
  }
  .form-car {
    width: 45%;
  }

  .rede-social {
    width: 60%;
    padding: 1px;
  }
}

@media (max-width: 615px) {
  iframe {
    width: 470px;
    height: 235px;
  }

  tr {
    flex-direction: column;
  }
  .texts {
    font-size: 18px;
  }
  .info {
    width: 10%;
  }
  .cars {
    width: 85%;
  }

  .rede-social {
    width: 60%;
    padding: 1px;
  }
}

@media (max-width: 440px) {
  main {
    flex-direction: column;
  }

  header nav {
    font-size: 12px;
  }
  main img {
    width: 92%;
  }
  iframe {
    width: 350px;
    height: 160px;
  }
  tr {
    flex-direction: column;
  }
  .cars {
    width: 70%;
  }
  .form-car {
    width: 60%;
  }
  .rede-social {
    width: 60%;
    padding: 1px;
  }
}
