main {
  padding: 10px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

main img {
  margin: 20px 20px;
  width: 75%;
  border-radius: 10px;
}

main p {
  margin: 10px 8px;
  font-size: 20px;
}
